body {
    color: #ffffff;
    background-color: #121212 !important;
    letter-spacing: 1px;
    font-family: "Roboto Flex", sans-serif !important;
  }
  
  .roboto-flex-font {
    font-family: "Roboto Flex", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "slnt" 0, "wdth" 100, "GRAD" 0, "XOPQ" 96, "XTRA" 468,
      "YOPQ" 79, "YTAS" 750, "YTDE" -203, "YTFI" 738, "YTLC" 514, "YTUC" 712;
  }
  #document {
    margin: 0 auto;
  }
  .landing-image-container {
    position: relative;
    width: 100%;
    height: 100vh; /* Full viewport height */
    overflow: hidden;
  }
  
  /* Common styles for all landing images */
  .landing-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the container */
    position: absolute;
    top: 0;
    left: 0;
  }
  /* Default to desktop image */
  .desktop-image {
    display: block;
  }
  
  .mobile-image {
    display: none;
  }
  p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  
  li {
    font-size: 1rem;
    margin-bottom: 10px;
  }
  
  .img-responsive {
    padding: 0px 0px 0px 5px;
    width: 45%;
    height: auto;
  }
  
  .pdf-viewer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #121212; /* Adjust background color as needed */
  }
  
  .pdf-viewer {
    width: 100%;
    max-width: 1000px; /* Max width to prevent it from being too wide */
    height: 80vh; /* Set a height for the iframe to occupy most of the viewport */
    margin: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: add a shadow for a nice effect */
  }
  
  .pdf-viewer iframe {
    width: 100%;
    height: 100%;
    border: none;
    margin: 0 auto;
  }
  
  @media only screen and (max-width: 1024px) {
    .navbar-brand {
      max-width: 33vw;
    }
    .navbar-brand .img-responsive {
      width: 100%;
    }
    .desktop-image {
      display: none;
    }
    .mobile-image {
      display: block;
      padding-top: 50vh;
      width: 100%; /* Make the image responsive */
      height: auto;
      padding-left: 10px;
      padding-right: 10px;
    }
    div.thanks-container {
      max-width: 65vw;/* Maximum width of the image container */
      height: 100%;
     }
     .thanks-container img {
      width: 100%; /* Make the image responsive */
      height: auto;
    }
  }
  
  @media only screen and (max-width: 750px) {
    .navbar-brand {
      max-width: 75vw;
    }
    .navbar-brand .img-responsive {
      width: 73vw;
    }
    .desktop-image {
      display: none;
    }
    .mobile-image {
      display: block;
      padding-top: 50vh;
      width: 100%; /* Make the image responsive */
      height: auto;
      padding-left: 10px;
      padding-right: 10px;
    }
    div.thanks-container {
      max-width: 65vw;/* Maximum width of the image container */
      height: 100%;
     }
     .thanks-container img {
      width: 100%; /* Make the image responsive */
      height: auto;
    }
  }
  
  @media only screen and (max-width: 576px) {
    .desktop-image {
      display: none;
    }
    .mobile-image {
      display: block;
      padding-top: 50vh;
      width: 100%; /* Make the image responsive */
      height: auto;
      padding-left: 10px;
      padding-right: 10px;
    }
    .heading-section {
      text-align: center;
    }
    .pdf-viewer {
      height: 60vh; /* Set a height for the iframe to occupy most of the viewport */
      margin: 0;
    }
    .navbar-brand {
      max-width: 75vw;
    }
    .navbar-brand .img-responsive {
      width: 73vw;
      margin: 0 auto;
    }
    p {
      font-size: 1rem;
      line-height: 1.4;
      margin-bottom: 10px;
    }
    .section {
      padding: 40px 5px;
    }
    li {
      margin-bottom: 10px;
      font-size: 1rem;
    }
    container.text-center.quote {
      padding-left: 10px;
      padding-right: 10px;
    }
    h5.quote {
      padding-left: 15px;
      padding-right: 15px;
    }
    .navbar-toggler-icon {
      border-color: #ffffff;
      color: #ffffff;
    }
    .text-box {
      max-width: 90vw;
      width: 100%;
    }
    .text-box2 {
      max-width: 90vw;
      width: 100%;
    }
     div.thanks-container {
      max-width: 90vw;/* Maximum width of the image container */
      height: 100%;
     }
     .thanks-container img {
      width: 100%; /* Make the image responsive */
      height: auto;
    }
  }
  
  .flex-container {
    display: flex;
  }
  
  .text-box2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    width: 50%;
    padding: 11px 70px;
    border: solid 1px black;
    box-shadow: 12px 12px 2px 1px #B3B3B3;
    color: #333333;
    font-weight: bold;
  }
  .text-box {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    width: 50%;
    padding: 11px 70px;
    border: solid 1px white;
    box-shadow: 12px 12px 2px 1px #1334D6;
    background-color: #121212;
    color: #ffffff;
    font-weight: bold;
  }
  
  .section {
    padding: 50px 0;
  }
  
  .aboutImage {
    max-width: 100%;
  }
  
  .intro {
    margin-top: 40px;
    font-size: large;
  }
  
  .skillsSection.section {
    background-color: #121212;
    color: #ffffff;
  }
  
  .statsSection h4 {
    color: #333333;
  }
  .contactSection {
    background-color: #121212 !important;
    color: #ffffff !important;
  }
  .statsSection {
    background-color: #f5f5f5 !important;
    color: #333333 !important;
  }
  
  .skill {
    text-align: center;
    margin-left: 10px;
  }
  
    .thanks-container {
      max-width: 30vw; /* Maximum width of the image container */
      margin: 0 auto;
    }
    .thanks-container img {
      width: 100%; /* Make the image responsive */
      height: auto;
    }
  
  .chart {
    position: relative;
    width: 152px;
    height: 152px;
    display: inline-block;
    text-align: center;
  }
  
  .chart canvas {
    position: absolute;
    left: 0;
    top: 0;
  }
  
  .chart .percent {
    color: #fff;
    line-height: 152px;
    display: inline-block;
    font-size: 35px;
  }
  
  .chart .percent:after {
    content: "%";
  }
  
  .squareItem {
    margin-top: 28px;
    position: relative;
  }
  
  .squareInnerContainer {
    background-color: #f5f5f5;
    align-items: center;
    padding: 25px 35px;
    text-align: center;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
      rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  }
  
  .squareContent h2 {
    font-size: 3.5rem;
    margin-bottom: 10px;
    font-weight: 400;
    color: #333333;
  }
  
  .squareContent h3 {
    font-size: 1rem;
    font-weight: 600;
    margin: 0;
  }
  
  .squareContent h4 {
    color: #333333;
  }
  
  .counter {
    color: #333333;
  }
  .squareIcon {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  .downloadButton {
    color: #ffffff;
    border: solid 3px #1334d6;
    font-size: 1.375rem;
    font-weight: 500;
    background-color: #121212;
    padding: 0.55rem 1.8rem;
    display: inline-block;
    margin-top: 20px;
    border-radius: 35px;
  }
  .downloadButton:hover {
    text-decoration: none;
    color: #fff;
    background-color: #1334d6;
  }
  .contactButton {
    color: #ffffff;
    border: solid 3px #1334d6;
    font-size: 1.375rem;
    font-weight: 500;
    background-color: #121212;
    padding: 0.55rem 1.8rem;
    display: inline-block;
    margin-top: 20px;
    border-radius: 35px;
  }
  .contactButton:hover {
    text-decoration: none;
    color: #fff;
    background-color: #1334d6;
  }
  .section .heading {
    text-align: center;
    padding-bottom: 40px;
    width: 100%;
  }
  
  #navigation {
    background-color: #161617cc;
    margin-top: 1%; 
    margin-left: auto;
    margin-right: auto;
    z-index: 100;
    width: 100%;
    max-width: 75vw;
    box-shadow: 0 3px 3px black;
    border-radius: 35px
  }
  
  #navigation li {
    padding: 0 10px;
    margin: 0 auto;
    color: #ffffff;
  }
  
  #navigation li a {
    color: #ffffff;
  }
  
  #navigation li a:hover {
    text-decoration: underline solid #ffffff 2px;
  }
  
  div#navbarNav.collapse.navbar-collapse {
    justify-content: right;
  }
  
  .fixedNav #navigation {
    position: fixed;
    top: 0;
  }
  
  .loader {
    width: 100%;
    height: 100%;
    background-color: #000000;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1000;
  }
  
  .loader .inner {
    width: 100%;
    height: 100%;
    background: url(../img/Sphere_rotating_transparency.gif) center center no-repeat;
    background-color: #000000;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
  
  div.skill {
    margin-top: 20px;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #ffffff;
  }
  
  a {
    color: black;
    text-decoration: none;
  }
  
  .titleMessage {
    position: absolute;
    width: 100%;
    height: auto;
    bottom: 5%;
    z-index: 5;
    text-align: center;
  }
  
  .titleMessage .arrow {
    text-align: center;
    margin: 5% 0;
  }
  
  .bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
  }
  
  @keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
      transform: translateY(0);
    } /* Closing the first block */
  
    40% {
      transform: translateY(-30px);
    }
  
    60% {
      transform: translateY(-15px);
    }
  }
  
