body {
  color: #ffffff;
  background-color: #121212 !important;
  letter-spacing: 1px;
  font-family: "Roboto Flex", sans-serif !important;
}

.roboto-flex-font {
  font-family: "Roboto Flex", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0, "wdth" 100, "GRAD" 0, "XOPQ" 96, "XTRA" 468,
    "YOPQ" 79, "YTAS" 750, "YTDE" -203, "YTFI" 738, "YTLC" 514, "YTUC" 712;
}

#document {
  margin: 0 auto;
}

.landing-image-container {
  position: relative;
  width: 100%;
  height: 100vh; /* Full viewport height */
  overflow: hidden;
}

/* Common styles for all landing images */
.landing-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the container */
  position: absolute;
  top: 0;
  left: 0;
}

/* Default to desktop image */
.desktop-image {
  display: block;
}

.mobile-image {
  display: none;
}

p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 20px;
}

li {
  font-size: 1rem;
  margin-bottom: 10px;
}

.img-responsive {
  width: 50%;
  height: 100%;
}

.pdf-viewer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #121212; /* Adjust background color as needed */
}

.pdf-viewer {
  width: 100%;
  max-width: 1000px; /* Max width to prevent it from being too wide */
  height: 80vh; /* Set a height for the iframe to occupy most of the viewport */
  margin: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: add a shadow for a nice effect */
}

.pdf-viewer iframe {
  width: 100%;
  height: 100%;
  border: none;
  margin: 0 auto;
}

@media only screen and (max-width: 1024px) {
  .navbar-brand {
    max-width: 25vw;
  }
  .navbar-brand .img-responsive {
    width: 100%;
  }
  .desktop-image {
    display: none;
  }
  .mobile-image {
    display: block;
    padding-top: 50vh;
    width: 100%; /* Make the image responsive */
    height: auto;
    padding-left: 10px;
    padding-right: 10px;
  }
  div.thanks-container {
    max-width: 65vw; /* Maximum width of the image container */
    height: 100%;
  }
  .thanks-container img {
    width: 100%; /* Make the image responsive */
    height: auto;
  }

}

@media only screen and (max-width: 750px) {
  .navbar-brand {
    max-width: 50vw;
  }
  .navbar-brand .img-responsive {
    width: 100%;
  }
  .desktop-image {
    display: none;
  }
  .mobile-image {
    display: block;
    padding-top: 50vh;
    width: 100%; /* Make the image responsive */
    height: auto;
    padding-left: 10px;
    padding-right: 10px;
  }
  div.thanks-container {
    max-width: 65vw; /* Maximum width of the image container */
    height: 100%;
  }
  .thanks-container img {
    width: 100%; /* Make the image responsive */
    height: auto;
  }
}

@media only screen and (max-width: 576px) {
  .desktop-image {
    display: none;
  }
  .mobile-image {
    display: block;
    padding-top: 50vh;
    width: 100%; /* Make the image responsive */
    height: auto;
    padding-left: 10px;
    padding-right: 10px;
  }
  .heading-section {
    text-align: center;
  }
  .pdf-viewer {
    height: 60vh; /* Set a height for the iframe to occupy most of the viewport */
    margin: 0;
  }
  .navbar-brand {
    max-width: 73vw;
  }
  .navbar-brand .img-responsive {
    width: 100%;
    margin: 0 auto;
  }
  p {
    font-size: 1rem;
    line-height: 1.4;
    margin-bottom: 10px;
  }
  .section {
    padding: 40px 5px;
  }
  li {
    margin-bottom: 10px;
    font-size: 1rem;
  }
  container.text-center.quote {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  h5.quote {
    padding-left: 15px;
    padding-right: 15px;
  }
  .navbar-toggler-icon {
    border-color: #ffffff;
    color: #ffffff;
  }
  .text-box {
    max-width: 95vw;
    width: 100%;
  }
  .text-box2 {
    max-width: 95vw;
    width: 100%;
  }

  div.thanks-container {
    max-width: 90vw; /* Maximum width of the image container */
    height: 100%;
  }
  .thanks-container img {
    width: 100%; /* Make the image responsive */
    height: auto;
  }
  
  #navigation {
    padding: 10px 10px !important;
    z-index: 100;
    width: 100% !important;
    background: rgba(39, 39, 39, 0.1);
    backdrop-filter: blur(60px);
    /* fallback for old browsers */
    -webkit-backdrop-filter: blur(60px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 80px rgba(0, 0, 0, 0.3);
    margin-top: 0% !important;
    margin-left: 0% !important;
    margin-right: 0% !important;
    z-index: 100;
    border-radius: 0px !important;
    max-width: 100vw !important;
  }
  .fixedNav #navigation {
    position: fixed;
    top: 0;
  }
    .headingImage {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    max-width: 90vw;
  }
}

.flex-container {
  display: flex;
}

.text-box {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  max-width: 540px;
  padding: 14px 70px;
  background: rgba( 18, 18, 18, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 7px );
  -webkit-backdrop-filter: blur( 7px );
  border-radius: 0px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  color: #f1f1f1;
  z-index: 1;
  white-space: nowrap
  }
  .headingImage {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    max-width: 540px;
  }

.section {
  padding: 50px 0;
}

.aboutImage {
  max-width: 100%;
}

.intro {
  margin-top: 40px;
  font-size: large;
}

.skillsSection.section {
  background-color: #121212;
  color: #ffffff;
}

.statsSection h4 {
  color: #333333;
}

.contactSection {
  background-color: #121212 !important;
  color: #ffffff !important;
}

.statsSection {
  background-color: #121212 !important;
}

.skill {
  text-align: center;
}

.thanks-container {
  max-width: 30vw; /* Maximum width of the image container */
  margin: 0 auto;
}

.thanks-container img {
  width: 100%; /* Make the image responsive */
  height: auto;
}

.chart {
  position: relative;
  width: 152px;
  height: 152px;
  display: inline-block;
  text-align: center;
}

.chart canvas {
  position: absolute;
  left: 0;
  top: 0;
}

.chart .percent {
  color: #fff;
  line-height: 152px;
  display: inline-block;
  font-size: 35px;
}

.chart .percent:after {
  content: "%";
}

.squareItem {
  margin-top: 28px;
  position: relative;
}

.squareInnerContainer {
  align-items: center;
  padding: 25px 35px;
  text-align: center;
  border-radius: 10px;
  background: rgba( 19, 52, 214, 0.1 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 6px );
-webkit-backdrop-filter: blur( 6px );
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.squareContent h2 {
  font-size: 3.5rem;
  margin-bottom: 10px;
  font-weight: 400;
  color: #fff;
}

.squareContent h3 {
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
}

.squareContent h4 {
  color: #fff;
}

.counter {
  color: #fff;
}

.squareIcon {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.downloadButton {
  color: #ffffff;
  font-size: 1.275rem;
  font-weight: 400;
  padding: 0.60rem 1.95rem;
  display: inline-block;
  margin-top: 20px;
  border-radius: 35px;
  background: rgba( 19, 52, 214, 0.15 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 1px );
  -webkit-backdrop-filter: blur( 1px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  outline: none;
  transition: .75s ease-in-out;
}

.downloadButton:hover {
  transition: .75s ease-in-out;
  background: #1334D6;
  color: #fff;
  text-decoration: none;
}

.downloadButton:hover svg {
  stroke-dashoffset: -480;
}

svg {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: #fff;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: .75s ease-in-out;
}

.contactButton {
  color: #ffffff;
  font-size: 1.275rem;
  font-weight: 400;
  padding: 0.60rem 1.95rem;
  display: inline-block;
  margin-top: 20px;
  border-radius: 35px;
  background: rgba( 19, 52, 214, 0.15 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 1px );
  -webkit-backdrop-filter: blur( 1px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  outline: none;
  transition: .75s ease-in-out;
}

.contactButton:hover {
  transition: .75s ease-in-out;
  background: #1334D6;
  color: #fff;
  text-decoration: none;
}

.contactButton:hover svg {
  stroke-dashoffset: -480;
}

.section .heading {
  text-align: center;
  padding-bottom: 40px;
  width: 100%;
}

#navigation {
  margin-top: 1%;
  margin-left: 20%;
  margin-right: 20%;
  padding-right: 20px;
  padding-left: 20px;
  z-index: 100;
  width: 100%;
  max-width: 60vw;
  border-radius: 35px;
  background: rgba(39, 39, 39, 0.1);
  backdrop-filter: blur(10px);
  /* fallback for old browsers */
  -webkit-backdrop-filter: blur(10px);
  border: 0.25px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 80px rgba(0, 0, 0, 0.3);
}

#navigation li {
  margin: 0 auto;
  color: #ffffff;
}

#navigation li a {
  color: #ffffff;
  font-size: 0.875rem !important;
}

#navigation li a:hover {
  text-decoration: underline solid #ffffff 2px;
}

div#navbarNav.collapse.navbar-collapse {
  justify-content: right;
}

.fixedNav #navigation {
  position: fixed;
  top: 0;
}

.loader {
  width: 100%;
  height: 100%;
  background-color: #000000;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1000;
}

.loader .inner {
  width: 100%;
  height: 100%;
  background: url(../img/Sphere_rotating_transparency.gif) center center
    no-repeat;
  background-color: #000000;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

div.skill {
  margin-top: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #ffffff;
}

a {
  color: black;
  text-decoration: none;
}

.titleMessage {
  position: absolute;
  width: 100%;
  height: auto;
  bottom: 5%;
  z-index: 5;
  text-align: center;
}

.titleMessage .arrow {
  text-align: center;
  margin: 5% 0;
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  } /* Closing the first block */

  40% {
    transform: translateY(-30px);
  }

  60% {
    transform: translateY(-15px);
  }
}
